@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Comfortaa', cursive;
}
.separator-main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator {
  position: absolute;
  height: 60px;
  background-color: #EF4444;
  width: 4px;
}

.header{
  background-color: rgba(0, 0, 0, 0.384);
  box-shadow: inset -2px -4px 16px rgba(0, 0, 0, 0.322);
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1500ms, transform 1500ms;
}
.slide2-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1500ms, transform 1500ms;
}

.title-banner{
  position: absolute;
  top: 30%;
  padding-left: 5em;
}

.button-banner{
  position: absolute;
  top:65%;
  padding-left: 5em;
  text-decoration: none;
}
.button-banner a{
  border: 4px solid #EF4444;
  padding: 20px 30px 20px 30px;
  font-size: xx-large;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button-banner a:hover{
  border:4px solid #EF4444;
  background-color: rgb(255, 255, 255);
  color: #EF4444;
}

.items-banner{
  position: absolute;
  top: 75%;
  left: 30%;
}


.info-banner{
  margin: 0px 60px 0px 60px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: inset 0px 0px 90px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.info-banner h3{
  font-weight: 700;
  font-size: large;
}

.info-banner:hover{
  transform: scale(1.2) translateY(-10px);
}
.services-subtitle{
  color: #EF4444;
  font-size: 30px;

}
.services-title{
  color: #000000;
  font-size: 50px;

}
.services{
  padding-top: 40px;
}
.cards-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 500px;
  height: 400px;
}

.card-text{
  padding: 50px;
  height: 100%;
  width: 100%;
  background-color: #000000a1;
  box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.6s ease;

}

.card-text:hover{
  background-color: #000000ef;
}

.contact-title{
  font-size: 50px;
  text-align: center;
  position: relative;
  left: 40px;
}
.contact{
  display: flex;
  align-items: center;
  min-height: 200px;
}

.about-subtitle{
  color: #EF4444;
  font-size: 30px;

}
.about-title{
  color: #ffffff;
  font-size: 50px;

}
.about-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px white;
  margin: 20px;
  width: 400px;
  height: 500px;
}

.about-image{
  height: 440px;
  width: 340px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.349);
}

.about-card-text{
  padding: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.6s ease;
}
.about-card-text:hover{
  background-color: #ef444494;
  opacity: 1;
}
.general-terms{
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  width: 100vw;
}
.main-terms{
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-terms button{
  position: relative;
  left: 20px;
  top: 20px;
  padding: 10px 20px 10px 20px;
  border:2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  transition: 0.6s ease;
}
.general-terms button:hover{
  background-color: rgb(233, 233, 233);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.terminos{
  width: 60%;
  padding: 70px 0px 70px 0px ;
}
.terminos h2, .terminos h3{
  font-weight: bold;
  font-size: large;
}

.test-video{
  height: 700px;
}
@media (max-width: 1796px) {
  .items-banner{
    position: absolute;
    top: 62%;
    left: 35%;
  }
  .info-banner{
    margin: 0px 30px 0px 30px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.726);
    box-shadow: inset 0px 0px 90px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    font-weight: 700;
    font-size: large;
  }
}

@media (max-width: 1436px) {
  .items-banner{
    position: absolute;
    top: 62%;
    left: 35%;
  }
  .info-banner{
    margin: 0px 4px 0px 4px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.726);
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    font-weight: 700;
    font-size: medium;
  }
  .info-banner p{
    font-size: small;
  }
  .info-banner:hover{
    transform: scale(1.8) translateY(-20px);
    background-color: #000000f5;
  }
}

@media (max-width: 1206px) {
  .items-banner{
    position: absolute;
    top: 62%;
    left: 40%;
  }
  .info-banner{
    margin: 0px 2px 0px 2px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.815);
    box-shadow:inset 0px 0px 20px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    font-weight: 700;
    font-size:medium;
  }
  .info-banner p{
    font-size:smaller;
  }
  .info-banner:hover{
    transform: scale(1.8) translateY(-50px) translateX(-60px);
    background-color: #000000f5;
  }
}

@media (max-width: 1026px) {
  .title-banner{
    position: relative;
    top: 15%;
  }
  .button-banner{
    position: relative;
    top:25%;
  }
  .items-banner{
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .info-banner{
    margin: 0px 2px 0px 2px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.815);
    box-shadow:inset 0px 0px 20px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    font-weight: 700;
    font-size:medium;
  }
  .info-banner p{
    font-size:smaller;
  }
  .info-banner:hover{
    transform: scale(1.8) translateY(-150px) translateX(0px);
    background-color: #000000f5;
  }
  .slide-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1500ms, transform 1500ms;
  }
}
@media (max-width: 1026px) and (max-height: 768px) {
  .items-banner{
    position: absolute;
    top: 65%;
    left: 38%;
  }
  .info-banner:hover{
    transform: scale(1.8) translateY(-150px) translateX(-40px);
    background-color: #000000f5;
  }
}
@media (max-width: 500px){
  .items-banner{
    position: absolute;
    top: 6%;
    left: 0%;
  }
  .info-banner{
    margin: 0px 0px 0px 0px;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    color: #00000000;
    font-weight: 100;
    font-size: xx-small;
  }
  .info-banner p{
    color: #00000000;
    font-size: xx-small;
  }
  .info-banner:hover{
    transform: scale(0) translateY(-20px);
    background-color: #000000f5;
  }
  .contact-title{
    position: relative;
    left: 30px;
    font-size: large;
  }
  .about-title{
    text-align: center;
  }
  .services-title{
    text-align: center;
  }
  .title-banner{
    top: 30%;
  }
  .button-banner{
    top: 50%;
    left: -5%;
  }
}

@media (max-width: 370px){
  .contact-title{
    position: relative;
    left: 30px;
    color: #00000000;
    top: -50px;
    font-size: large;
  }
  .about-title{
    text-align: center;
  }
  .services-title{
    text-align: center;
  }
  .title-banner{
    top: 30%;
    left: -10%;
  }
  .button-banner{
    top: 50%;
    left:-10%;
    font-size: small;
  }
}
@media (max-height: 500px){
  .items-banner{
    position: absolute;
    top: 6%;
    left: 0%;
  }
  .info-banner{
    margin: 0px 0px 0px 0px;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .info-banner h3{
    color: #00000000;
    font-weight: 100;
    font-size: xx-small;
  }
  .info-banner p{
    color: #00000000;
    font-size: xx-small;
  }
  .info-banner:hover{
    transform: scale(0) translateY(-20px);
    background-color: #000000f5;
  }
  .contact-title{
    position: relative;
    left: 30px;
    font-size: xx-large;
  }
  .about-title{
    text-align: center;
  }
  .services-title{
    text-align: center;
  }
  .title-banner{
    top: 30%;
    left: -10%;
  }
  .button-banner{
    top: 50%;
    left:-10%;
    font-size: small;
  }
  .title-banner{
    top: 35%;
    left: -5%;
  }
  .title-banner h1{
    font-size:30px;
  }
  .title-banner h2{
    font-size:50px;
  }
  .button-banner{
    position: absolute;
    left: 50%;
  }
}